/* ---- cores oficiais ---- */

:root {
    --cor-raniroxo1: #681630; /*roxo1*/
    --cor-ranilaranja1: #cd862a;/*laranja1*/
}
/*exemplo como usar: var(--cor-raniroxo); */

/*pageral*/
.pageral {
    background-color: antiquewhite;
}

/* ---- comum ---- */

/*head*/
.head {
    background-color: white;
}

/*header*/
.header {
    background-color: black;
}

/*alert*/
.alert {
    background-color: black;
}

/*tema*/
.tema {
    background-color: black;
    margin: 0%;
    padding: 0%;
}

/* navbar */
.navbar {
    background-color: black;
    margin: 0%;
    padding: 0%;
}

/*main*/
.main {
    background-color: black;
    margin: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.mainprincipal {
    background-color: #681630;
    margin: 0px ;
    padding:0px ;
}
.principal {
    margin: 0%;
    padding: 0%;
    background-color: #fff;
}
.msg_construcao {
    margin: 5%;
    padding: 3%;
    background-color: #fff;
}

/*extras*/
.extras {
    background-color: black;
    margin: 0%;
    padding: 0%;
}
.slideTurmas {
    background-color: black;
}

/*footer*/


/*foot*/





/* ---- app historia ---- */

.naveghist {
    background-color: var(--cor-raniroxo1)!important;
    color: var(--cor-raniroxo1)!important;
}

/* Estilos para links ativos e em hover no menu de navegação */
.naveghist .w3-button.w3-black {
    background-color: black;
    color: white;
}

.naveghist .w3-button:not(.w3-black):hover {
    background-color: var(--cor-ranilaranja1); /* Usando a cor laranja definida no CSS */
    color: white;
}

.hist_text {
    padding:10px ; 
    margin: 5%;   
}